<!DOCTYPE html>
<html lang="fr">

     {% load static %}

<head>
    <meta charset="UTF-8">
    <title>ChercheMotFichier</title>
    <style>
        .suite {
            font-style: italic;
            text-align: right;}
    </style>
</head>
<body>

    <p class="suite">
            <a  href="{% url 'AmeliorText:home' %}#ExploResumeMotAvant">Retour Texte</a>
    </p>


    <p class="suite">
            <a href="{% url 'AmeliorText:ReDispatch' 'Explor' 'Resume' %}">Retour Explorations résumés </a>
    </p>

    <p class="suite">
            <a
                    href="{% url 'AmeliorText:PresenceMotAvantObjetInterface' reduction revue 'Resume'%}">
                Retour exploration spécifique mot avant résumé </a>
    </p>
    <br>

    <h2> Résultat avec un seuil de recherche de {{ seuil }} pour "{{ motponctu }}"
        sur la revue
            {% if revue == "geo" %}
                des <em>Annales de Géographie</em>
            {% endif %}
            {% if revue == "spgeo" %}
                <em>L'Espace Géographique</em>
            {% endif %}
        dans le corpus {{ reduction }} </h2>

    <ul>
    {% for mot in MotSpe %}
        {% for elt in mot %}
            {% if forloop.counter0 == 0 %}
                <li>{{ elt|safe }}</li>
            {% else %}
                <li>{{ elt }}</li>
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}
    </ul>



    <br>
    <br>

    <p class="suite">
            <a  href="{% url 'AmeliorText:home' %}#ExploResumeMotAvant">Retour Texte</a>
    </p>


     <p class="suite">
            <a href="{% url 'AmeliorText:ReDispatch' 'Explor' 'Resume' %}">Retour
                explorations résumé </a>
    </p>
    <p class="suite">
            <a
                    href="{% url 'AmeliorText:PresenceMotAvantObjetInterface' reduction revue 'Resume'%}">
                Retour exploration spécifique mot avant résumé</a>
    </p>
    <br>



      <script src="{% static 'Introduction/js/ArrAvt.js' %}" type="text/javascript"
                charset="utf-8"></script>

    <script type="text/javascript">
        EnArrEnAvt("{% url 'AmeliorText:ReDispatch' 'Explor' 'Resume' %}",
        "{% url 'AmeliorText:ReDispatch' 'Explor' 'Resume' %}");
    </script>


</body>
</html>