{% extends 'AmeliorText/TraitA/TraitBase/SuccessTraitBase.html' %}

{% block content %}

    avec le seuil {{ donnees.seuil }} <br>

    {% if donnees.SupprChiffreDebFinAll %}
        en chosissant d'enlever les bas de pages qui finissent ou commencent par un chiffre dans tous les cas<br>
    {% else %}
        sans enlever les bas de pages qui finissent ou commencent par un chiffre hors seuil <br>
    {% endif %}

    en choisissant comme date minimum : {{ donnees.DateMin }} <br>


{% endblock %}