<!DOCTYPE html>
<html lang="fr">

    {% load static %}

<head>
    <meta charset="UTF-8">
    <title>Conclu</title>
    <style>
        .marge {
            margin-left: 3em;}
        .marge2 {
            margin-left: 6em;}
        .suite {
            font-style: italic;
            text-align: right;}
        .present {
            text-decoration: underline;
            font-weight:bold;}
        .cite {
            text-align: justify;
            margin-right: 9em;
            margin-left: 9em;
            font-size: 0.9em;}
        p {
            text-align: justify;}
        h1 {
            text-align: center;}
        h2 {
            margin-left: 3em;
            margin-top: 1.5em;
            margin-bottom: 1.5em;}
        h3 {
            margin-left: 6em;
            margin-top: 1.5em;
            margin-bottom: 1.5em;}
        li {
            margin-left: 3em;
            margin-top:15px;
            text-align: justify;}
    </style>
</head>
<body>


<p class="suite"> Retour :
    <a  href="{% url 'general:home' %}">Page d'accueil</a>
</p>


    <h1>Conclusion</h1>


<div id="Far2"><p class="mypara">
    <span class="marge">
    Le texte et l’utilisation de l’application Web ne se prolongeant pas au-delà de la conclusion de cette
        partie, une dimension plus épistémologique de cette application est ici présentée. Le point de
        départ de cette réflexion est un colloque sur le goût de l’archive à l’ère numérique dans lequel
        Sean Takats a proposé un projet qui est pour lui un idéal. Il s’agit de la création d’une
        application qui pourrait être utilisée par de nombreux projets de SHS et qui permettrait de rendre
        compte de la subjectivité de ce qui a été construit intellectuellement. À la fin de son exposé, il
        prend le soin de préciser que « l’objectif n’est pas de transformer les sciences sociales en
        sciences dures » <a href="{% url 'Biblio:ViewBiblioInterface' 0 %}#Far2">(Farge et Takats 2018)</a>.
        Nul doute qu’il anticipe ainsi des critiques pouvant être
        exprimées par certains praticiens de SHS à propos d’une telle application. Certains esprits peuvent
        en effet être heurtés par cette idée d’une subjectivité captée et rendue par une application.
    </span>
</p></div>

<p class="mypara">
    <span class="marge">
    Par rapport à l’idéal exprimé par ce chercheur, il est certain que l’application ici créée est très
        limitée en raison de sa transférabilité réduite. Il n’en reste pas moins qu’il est particulièrement
        intéressant de la réfléchir dans la perspective développée par ce chercheur. L’idée notamment
        qu’une telle application puisse être perçue comme se rapprochant de méthodes de sciences dures
        mérite d’être développée dans le cadre de la problématique de mon travail doctoral. En effet, si
        l’expérimentation menée s’avère concluante (avec un rapprochement des méthodes de sciences dures),
        utiliser la notion de paradigme dans les sciences sociales y gagnerait en légitimité. Ce qui est en
        jeu, est l'effort de réduction et de captation de subjectivité des choix successifs opérés. Si
        l’application a pu en effet me conduire à préciser ou à reconnaitre des zones de subjectivité, je
        pense qu’il n’existe aucun automatisme dans ce processus. Ce dernier me semble bien plus tenir à
        une volonté personnelle avec, dans ce cas, une possible aide de l’application pour accompagner
        cette démarche.
    </span>
</p>


<div id="Lat2"><p class="mypara">
<p class="mypara">
    <span class="marge">
    Sean Takas ne détaille malheusement pas les différences entre son projet d’application pour les SHS et
        les méthodes de sciences dures. Il me semble ici intéressant de développer sur un sujet connexe
        quelques réflexions à partir du livre de Bruno Latour intitulé <em>Aramis ou l’amour des techniques</em>
        <a href="{% url 'Biblio:ViewBiblioInterface' 0 %}#Lat2">(2020)</a>. Sans rentrer dans les détails
            techniques, <em>Aramis</em> était un projet de mini-métro
        automatique prévu au sud de Paris dans les années 1970-1980. Après l’échec de ce projet, Bruno
        Latour a réalisé
        une étude sociologique autour de l’ensemble des réseaux constitués pour réaliser <em>Aramis</em>.
        Il montre notamment comme ce grand programme de construction était divisé en sous-programmes
        (véhicule, automatisme, réseau électrique, voie…), eux mêmes divisés en sous-sous-programmes. Une
        fois qu’un
        sous-programme marche, il n’est plus nécessaire de s’intéresser vraiment à toute son architecture.
        Seules les sorties obtenues à partir des entrées données peuvent être considérées sans rentrer dans
        plus de détail. Un programme informatique est divisé et fonctionne de la même manière. Ce n’est que
        si un problème apparait, qu’il faut re-rentrer dans la chaîne des fonctions et des sous-fonctions
        pour trouver d’où vient l’erreur. Ce qui est la base d’une telle construction est la logique
        formelle avec des structures du type « si telle action est réalisée ou telle variable est égale à
        telle valeur, alors telle fonction doit être effectuée ».
    </span>
</p>
</div>

<p class="mypara">
    <span class="marge">
    En considérant maintenant un projet en SHS comme l’exercice doctoral que je restitue ici, il est
        évidemment possible de diviser le projet global en sous-projets (élaboration de la problématique,
        constitution du corpus, choix de la méthode…) et en sous-sous-projets (par exemple pour la
        constitution du corpus : choix des revues, amélioration de l’OCR, choix des textes et partie de
        textes…). La différence majeure est que ce n’est pas une logique formelle qui organise et régit cet
        ensemble, mais un discours argumentatif. Par rapport à cette affirmation, il existe des
        sous-projets qui sont de mon point de vue de nature différente. Par exemple, par rapport à
        l’amélioration de l’OCR, il est possible, comme cela a été réalisé, de calculer des scores qui
        déterminent la réussite plus ou moins grande du projet. Ce sous-projet technique est de mon point
        de vue achevable, au sens où un score de 100 % (ou très proche) peut être obtenu et reconnu par
        tous. A contrario, le sous-projet global de la constitution du corpus ne peut être clôturé.
        D’autres recherches sur la même question pourraient mettre en avant des corpus différents en
        utilisant des argumentations valables et obtenir des résultats distincts. Il existe ici un
        inachèvement fondamental qui à la différence d’Aramis n’aboutit pas à un échec.
    </span>
</p>
    <br>

<p class="mypara">
    <span class="marge">
    Pour finir et conclure cette deuxième partie, il est utile de synthétiser les résultats obtenus. Les
        représentations du changement sémantique autour des termes « espace » et « milieu » obtenues à
        l’aide des méthodes de plongements de mots ont mis en évidence des difficultés pour valider
        l’hypothèse sémantique affirmée par Olivier Orain. Ces difficultés ont conduit à émettre de
        premières critiques importantes à l’encontre de la lecture kuhnienne de la géographie française.
        Pour autant, les résultats obtenus n’ont pas été directement déterminants, donnant lieu à plusieurs
        discussions serrées entre arguments favorables et défavorables à la thèse d’Olivier Orain.
    </span>
</p>


<p class="mypara">
    <span class="marge">
    Ce qui a été finalement déterminant est tout d’abord une réflexion sur le processus de construction des
        résultats, puis une discussion approfondie qui a montré la pertinence d’une prise en compte des
        réflexions de Jean-Claude Passeron sur cette problématique. Ce processus a abouti à un
        approfondissement notable de la critique des propositions d’Olivier Orain. En effet, Jean-Claude
        Passeron développe une opposition ferme et argumentée à toute lecture paradigmatique des SHS. Ses
        réflexions théoriques ont permis de mieux comprendre plusieurs travaux (ceux de Thomas Kuhn, ceux
        d’Olivier Orain et les miens) et ont éclairé tout autant des réflexions historiques des tenants de
        la « nouvelle géographie » que l’état épistémologique de la géographie contemporaine.
    </span>
</p>


<p class="mypara">
    <span class="marge">
    Les développements passeroniens n’ont pas été pris pour autant pour argent comptant et une proposition
        épistémologique a été réalisée pour tenter une présentation moins dichotomique et plus spectrale de
        plusieurs modes de scientificité.
    </span>
</p>


<p class="mypara">
    <span class="marge">
    sultats et les discussions qui viennent d’être développées. En effet, par rapport à un type de plan
        nommé IMReD (Introduction, Méthode, Résultat et Discussion), très utilisé pour rendre compte de
        travaux quantitatifs, il serait pertinent de s’acheminer vers la conclusion de cette thèse. En
        miroir de la thèse d’Olivier Orain qui se conclut sur l’annonce d’un projet de recherche
        quantitatif beaucoup plus ample que celui qu’il a mené, il serait possible d’ouvrir ce travail sur
        un projet qualitatif de réévaluation globale des arguments avancés dans la thèse du plain-pied.
        Parallèlement, le développement d’une lecture alternative de l’histoire de la géographie, basée sur
        une approche passeronnienne serait mis en avant comme un chantier de première importance restant à
        réaliser.
    </span>
</p>

<p class="mypara">
    <span class="marge">
    Mais, je dois avouer ne pas avoir souhaité remettre à plus tard l’effectuation de ce travail. Cette
        prise en charge s’explique non seulement par la forme d’indétermination éprouvée lors des analyses
        de mes résultats quantitatifs (<em>cf.</em> section <a
            href="{% url 'TxtTheseConstructResult:home'%}#II1">Chap7.II.1</a>), mais aussi par l’envie de ne
        pas reporter le développement des pistes de travail ayant été identifiées comme majeures une fois cette partie
        quantitative achevée. C’est pourquoi le projet qui vient d’être développé - une analyse plus en
        détail des arguments de la thèse du plain-pied et le développement d’une lecture passeronienne -
        constitue le cœur de la partie suivante.
        Cette application ne présente pas cette troisième partie, ni la quatrième consacrée aux humanités
        numériques et aux données massives.
        Le lecteur intéressé est donc invité à se rapporter au manuscrit de Thèse de Max Beligné
        (<a href="{% url 'Introduction:VersTheseMBeligne' %}">lien a venir</a>)
    </span>
</p>


<br>
<br>
<p class="suite"> Retour :
    <a  href="{% url 'general:home' %}">Sommaire</a>
</p>
    <br>

    <script src="{% static 'Introduction/js/ArrAvt.js' %}" type="text/javascript"
                charset="utf-8"></script>
<script type="text/javascript">
 EnArrEnAvt("{% url 'TxtTheseDiscussion:home' %}", "{% url 'general:home' %}");
</script>



</body>
</html>