{% extends 'AmeliorText/TraitA/TraitBase/SuccessTraitBase.html' %}

{% block content %}


    {% if donnees.SupprNoteBio %}
                en choisissant d'enlever les notes biographiques<br>
            {% else %}
                sans enlever les notes biographiques<br>
            {% endif %}

            {% if donnees.SupprNoteEdito %}
                et en enlevant les notes éditoriales<br>
            {% else %}
                et sans enlever les notes éditoriales<br>
            {% endif %}

            {% if donnees.SupprNoteBasDePage %}
                et en enlevant les notes de bas de pages<br>
            {% else %}
                et sans enlever les notes de bas de pages<br>
            {% endif %}


{% endblock %}
