{% extends 'AmeliorText/TraitA/TraitBase/TraitBaseHome.html' %}

{% load static %}

{% block content %}

 <p class="suite">
    <a  href="{% url 'AmeliorText:home' %}#IV7b">Retour texte : Chap5)IV)7)b)</a>
    </p>
    <br>

    <script type = 'text/javascript'>
        window.onload=function() {
            var Myform = document.getElementsByClassName("grisemoi")[0];
            {% if PossibleChange %}
                Myform.disabled = false;
            {% else %}
                Myform.disabled = true;
            {% endif %}
        }
    </script>



{% endblock %}