<!DOCTYPE html>
<html lang="fr">

    {% load static %}

<head>
    <meta charset="UTF-8">
    <title>Notes Dio Cherche {{reduction}}</title>
    <style>
        .suite {
            font-style: italic;
            text-align: right;}
    </style>
</head>

<body>


     <p class="suite">
        <a  href="{% url 'AmeliorText:home' %}#NoteBioSuspi">Retour Texte</a>
    </p>

    {% if user.is_superuser %}
    <p class="suite">
        <a href="{% url 'AmeliorText:ReDispatch' 'Explor' 'Note' %}"> Retour Interface </a>
    </p>
    {% endif %}


<h1>Notes biographiques non référencées et présumées de la réduction {{reduction}} pour la revue
    {{ revuerealname }}</h1>


<ul>
{% for notefound in Result %}
    {% for elt in notefound %}
        {% if forloop.counter0 == 0 %}
                    <li>{{ elt|safe }}</li>
                {% else %}
                    <li>{{ elt }}</li>
                {% endif %}
    {% endfor %}
<br>
{% endfor %}
</ul>

<br>
<br>
<p class="suite">
        <a  href="{% url 'AmeliorText:home' %}#NoteBioSuspi">Retour Texte</a>
    </p>

    {% if user.is_superuser %}
    <p class="suite">
        <a href="{% url 'AmeliorText:ReDispatch' 'Explor' 'Note' %}"> Retour Interface </a>
    </p>
    {% endif %}


    <script src="{% static 'Introduction/js/ArrAvt.js' %}" type="text/javascript"
                charset="utf-8"></script>

    <script type="text/javascript">
        EnArrEnAvt("{% url 'AmeliorText:home' %}#NoteBioSuspi","{% url 'AmeliorText:home' %}#NoteBioSuspi");
    </script>


</body>
</html>