{% extends 'AmeliorText/ExplorTrait/ExplorTraitBase/ExplorTraitHome.html' %}

{% load static %}

{% block content %}

<!-- TEXT DEB -->

    <p class="suite">
    <a  href="{% url 'AmeliorText:home' %}#IV9">Retour texte : Chap5)IV)9)</a>
    </p>
    <br>


    <script type = 'text/javascript'>
        window.onload=function() {
            var Myform = document.getElementsByClassName("grisemoi")[0];
            {% if PossibleChange %}
                Myform.disabled = false;
            {% else %}
                Myform.disabled = true;
            {% endif %}
        }
    </script>

{% endblock %}