<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Error NbTermesOuClusters</title>
    </head>
    <body>
        Il semble que le nombre de termes ou de clusters demandés n'est pas adéquate
        par rapport aux périodes et revues du modèle.
        Avant 1972, la revue L'Espace Géographique n'existe pas.
        Donc, pas besoin de spécifier un nombre de termes et de clusters
        pour des périodes antérieures à cette date dans cette revue.
    </body>
</html>