<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Biblio All</title>
    <style>
        li{
        margin-top: 30px;
        }

        .marge {
            margin-left: 3em;}

        .btn-link.btn-anchor {
            outline: none !important;
            padding: 0;
            border: 0;
            vertical-align: baseline;
            color: blue;
            text-decoration: underline;}

        .btn-link.btn-anchor:visited {
            color: purple;
            text-decoration: underline;}

    </style>
</head>
<body>

  <label for="CollectSelect">Collection :</label>
    <select onchange="location = this.value;" id="CollectSelect" name="CollectSelect" >
        {% for CollecNameChoice, CollectIdChoice in CollectNameIdChoices %}
            {% if CollectIdChoice == CollectIdSelect %}
                <option selected>{{ CollecNameChoice }}</option>
            {% else %}
                <option
                        value="{% url 'Biblio:ViewBiblioAll' CollectIdChoice LangIdSelect %}">
                    {{ CollecNameChoice }}</option>
            {% endif %}
        {% endfor %}
    </select>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <label for="LangSelect">Langue :</label>
    <select onchange="location = this.value;" id="LangSelect" name="LangSelect">
        {% for LangNameChoice,LangIdChoice in LangNameIdChoices %}
            {% if LangIdChoice == LangIdSelect %}
                <option selected>{{ LangNameChoice }}</option>
            {% else %}
                <option value="{% url 'Biblio:ViewBiblioAll' CollectIdSelect LangIdChoice  %}">
                    {{ LangNameChoice }}</option>
            {% endif %}
        {% endfor %}
    </select>


     <a class="btn btn-primary marge" href="{% url 'Biblio:ViewBiblioInterface' CollectIdSelect %}">Vers biblio
         interface</a>
    <a class="btn btn-primary marge" href="{% url 'general:home' %}">Retour home</a>


    <ul>
    {% for eltdeb,presital,eltital,eltfin,presweb,contenuweb,contenuint,eltref,eltMultiRefPresence,var1,eltintpres in ResultTest %}
      {% if presweb %}

        {% if presital %}

            {% if eltintpres %}

                {% if eltMultiRefPresence %}

                    {% url contenuint as the_url %}

                    <li>
                       <div class="csl-entry"> {{eltdeb}} <i> {{eltital}} </i> {{eltfin}}
                           <a target="_blank" href={{contenuweb}}>Vers source Web</a>
                           <a href="{{ the_url }}">Vers texte These</a></div>
                    </li>

                {% else %}

                    {% url contenuint as the_url %}
                    <li>
                       <div class="csl-entry"> {{eltdeb}} <i> {{eltital}} </i> {{eltfin}}
                           <a target="_blank" href={{contenuweb}}>Vers source Web</a>
                           <a href="{{ the_url }}#{{eltref}}">Vers texte These</a></div>
                    </li>

                {% endif %}

            {% else %}

                <li>
                   <div class="csl-entry"> {{eltdeb}} <i> {{eltital}} </i> {{eltfin}}
                       <a target="_blank" href={{contenuweb}}>Vers source Web</a></div>
                 </li>

            {% endif %}

        {% else %}

            {% if eltintpres %}

                {% if eltMultiRefPresence %}

                    {% url contenuint as the_url %}

                    <li>
                       <div class="csl-entry"> {{eltdeb}}
                           <a target="_blank" href={{contenuweb}}>Vers source Web</a>
                           <a href="{{ the_url }}">Vers texte These</a></div>
                    </li>

                {% else %}

                    {% url contenuint as the_url %}
                    <li>
                       <div class="csl-entry"> {{eltdeb}}
                           <a target="_blank" href={{contenuweb}}>Vers source Web</a>
                           <a href="{{ the_url }}#{{eltref}}">Vers texte These</a></div>
                    </li>
                {% endif %}

            {% else %}

                <li>
                   <div class="csl-entry"> {{eltdeb}}
                       <a target="_blank" href={{contenuweb}}>Vers source Web</a></div>
                </li>


            {% endif %}

        {% endif %}

      {% else %}

        {% if presital %}

           {% if eltintpres %}

                {% if eltMultiRefPresence %}

                    {% url contenuint as the_url %}

                   <li>
                       <div class="csl-entry"> {{eltdeb}} <i> {{eltital}} </i> {{eltfin}}
                           <a href="{{ the_url }}">Vers texte These</a></div>
                    </li>


                {% else %}

                    {% url contenuint as the_url %}
                    <li>
                       <div class="csl-entry"> {{eltdeb}} <i> {{eltital}} </i> {{eltfin}}
                       <a href="{{ the_url }}#{{eltref}}">Vers texte These</a></div>
                    </li>
                {% endif %}

            {% else %}

                <li>
                  <div class="csl-entry"> {{eltdeb}} <i> {{eltital}} </i> {{eltfin}}
                    </div>
                 </li>

            {% endif %}

        {% else %}

            {% if eltintpres %}

                {% if eltMultiRefPresence %}

                    {% url contenuint as the_url %}

                    <li>
                       <div class="csl-entry"> {{eltdeb}}
                           <a href="{{ the_url }}">Vers texte These</a></div>
                    </li>

                {% else %}

                    {% url contenuint as the_url %}
                     <li>
                        <div class="csl-entry"> {{eltdeb}}
                            <a href="{{ the_url }}#{{eltref}}">Vers texte These</a></div>
                    </li>
                    {% endif %}

            {% else %}

                <li>
                    <div class="csl-entry"> {{eltdeb}} </div>
                </li>


            {% endif %}

        {% endif %}

      {% endif %}

	{% endfor %}

  </ul>


</body>
</html>