<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ objetred }} add exception result</title>
</head>
<body>

Elts qui ont été ajoutés avec succès !

<ul>
    {% for elt in success %}
        <li>{{ elt }}</li>
    {% endfor %}
</ul>

<br>
<br>

Elts dont l'ajout a échoué !

<ul>
    {% for elt in echec %}
        <li>{{ elt }}</li>
    {% endfor %}
</ul>


<br>
<br>

Elts qui sont a priori mal formatés !

<ul>
    {% for elt in malformat %}
        <li>{{ elt }}</li>
    {% endfor %}
</ul>

<br>
<br>

Elts qui existaient déjà et n'ont pas été rajoutés !

<ul>
    {% for elt in existedeja %}
        <li>{{ elt }}</li>
    {% endfor %}
</ul>



</body>
</html>